<h1>商品情報編集</h1>
<%= form_with model: @product, local: true do |form| %>
  <p>生産者名: <%= current_user.name %></p>
  <p>
    商品名：<br>
    <%= form.text_field :name %>
  </p>

  <p>
    金額：<br>
    <%= form.number_field :price %>
  </p>

  <p>
    数量：<br>
    <%= form.number_field :volume %>
  </p>

  <p>
    商品説明：<br>
    <%= form.text_area :description %>
  </p>

  <%= form.hidden_field :user_id, value: current_user.id  %>

  <p>
    イメージ画像URL：<br>
    <%= form.text_area :image_url %>
  </p>

  <%= form.submit "更新" %>
  <%= button_to "削除", products_path(@products), method: :delete %>
<% end %>
