<h1>商品登録フォーム</h1>
<%= form_with model: @product, local: true do |form| %>
  <p>
    商品名：<br>

    <%= form.text_field :name %>

  </p>
  <p>
    金額：<br>
    <%= form.number_field :price %>
  </p>
  <p>
    数量：<br>
    <%= form.number_field :volume %>
  </p>
  <p>
    商品説明：<br>
    <%= form.number_field :description %>
  </p>
  <p>
    生産者ID：<br>

    <%= form.text_area :user_id %>

  </p>
  <p>
    イメージ画像URL：<br>
    <%= form.text_area :image_url %>
  </p>
  <%= form.submit "登録" %>
<% end %>
<!-- , disabled:true -->
