<div class="row">
  <h2>商品の詳細</h2>
  <div class="col-sm-5">
    <div class="product_show">
      <%= image_tag @product.image_url %><br>
    </div>
  </div>
  <div class="col-sm-4">
    <br><br>
    商品名：<%= @product.name %><br>
    生産地：<%= @product.user.area.area_name %><br>
    価格：<%= @product.price %>
    在庫：<%= @product.volume %>
    <div class="abc">
      商品説明：<%= @product.description %>
    </div>
    <br>
    <% if @product.volume > 0 and user_signed_in? %>
      <%= button_to "購入", new_transaction_path(transaction:{
        user_id:         current_user.id, seller_id:     @product.user_id,
        product_name:    @product.name,   product_price: @product.price,
        product_volume:  1,               product_id:    @product.id}
        ), class: "btn btn-default" %>
    <% else %>
      <%= button_to "購入", buy_product_path(@product), disabled: true, class: "btn btn-default"  %>
    <% end %>
    <% if current_user %>
      <% if current_user.id == @product.user_id || current_user.id == 1 %>
        <%= button_to "編集", edit_product_path, method: :get, class: "btn btn-default"  %>
      <% end %>
    <% end %>
  </div>
</div>
