<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>商品の詳細</h2>
    <%= image_tag @product.image_url %><br>
    商品名：<%= @product.name %><br>
    生産地：<%= Area.find(User.find(@product.user_id).area_id).area_name %><br>
    価格：<%= @product.price %>
    <div class="abc">
      商品説明<%= @product.description %>
    </div>
    <%= link_to "購入", buy_product_path(@product) %>

  </div>
</div>
