<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>商品の詳細</h2>
    <%= image_tag @product.image_url %><br>
    商品名：<%= @product.name %><br>
    生産地：<%= @product.user.area.area_name %><br>
    価格：<%= @product.price %>
    在庫：<%= @product.volume %>
    <div class="abc">
      商品説明：<%= @product.description %>
    </div>
    <% if @product.volume > 0 %>
      <%= link_to "購入", buy_product_path(@product), method: :post %>
    <% end %>
    <% if current_user %>
      <% if current_user.id == @product.user_id %>
        <%= button_to "編集", edit_product_path, method: :get %>
        
      <% end %>
    <% end %>
  </div>
</div>
